aioredis==2.0.1
async-timeout==4.0.2
attrs==22.1.0
exceptiongroup==1.0.1
greenlet==2.0.1
iniconfig==1.1.1
msgpack==1.0.4
packaging==21.3
pluggy==1.0.0
pynvim==0.4.3
pyparsing==3.0.9
pytest==7.2.0
pytest-asyncio==0.20.1
tomli==2.0.1
typing_extensions==4.4.0

redis~=5.0.1
setuptools~=65.5.0